/* Third party */
@import 'angular-material/angular-material.scss';
@import 'angular-material-data-table/dist/md-data-table.min.css';

.avatar-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}